*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*color de fondo - pagina web*/
body {
    font-family: "Poppins", sans-serif;
    background: #000000;
}

/*
LO QUE SIGUE ES DEL NAVBAR
NO MOVER MUCHO A MENOS QUE SEA NECESARIO
SIEMPRE COMENTAR QUE HACE CADA COSA
PARA NO PERDER LA DOCUMENTACION :)
*/


/*el color del equipo*/
h1{
    color:#00ff88;
}

/*padding del nav*/
nav {
    padding: 1rem 5%;
}

/*los cambios del navbar*/
.navbar{
    border: 3px solid;
    border-radius: 15px;
    border-color: #00ff88;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: 0 10px 15px rgba(0, 151, 50, 0.3);
}

/* color de los botones del navbar */
.navbar .nav-link {
    color: white !important;
}

/* color cuando pasas el mouse */
.navbar .nav-link:hover {
    color: #00ff88 !important;
}

/* color del botón activo */
.navbar .nav-link.active {
    color: #00ff88 !important;
}

/* color de los elementos del menú desplegable */
.navbar .dropdown-item {
    color: black;
}

/* color al pasar el mouse en el menú desplegable */
.navbar .dropdown-item:hover {
    color: white;
    background-color: #00ff88;
}

/*menu hamburguesa*/
.navbar-toggler {
    border: 2px solid #00ff88;
}

/*igual menu hamburguesa pero este es el icono
DATO: no mover la url que contiene la imagen de las lineas del menu
*/
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%2300ff88' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

/*lista desplegable del boton datos curiosos*/
.dropdown-menu {
    background-color: #000 !important;
}

/* Texto blanco de datos curiosos*/
.dropdown-item {
    color: #fff !important;
}

/* Cuando pasas el mouse datos curiosos */
.dropdown-item:hover {
    background-color: #00ff9d !important;
    color: #fff !important;
}

/*
LO QUE SIGUE ES DEL carrusel
NO MOVER MUCHO A MENOS QUE SEA NECESARIO
SIEMPRE COMENTAR QUE HACE CADA COSA
PARA NO PERDER LA DOCUMENTACION :)
*/

/*carrusel 1*/
.carousel-1{
    margin: 100px auto;
    width: 90%;
    display: flex;
    overflow-x: auto;
}


.carousel-1::-webkit-scrollbar{
    display: none;
}

.group-1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    animation: spin 5s infinite linear;
    padding-right: 1em;
}

/*card del carrusel 1*/
.card-1{
    flex: 0 0 5em;
    height: 5em;
    padding: 1em;
    background: #00ff88;
    font-size: 3rem;
    border-radius: 15px;
    text-align: center;
    align-content: center;
}

@keyframes spin{
    from{translate: 0;}
    to{translate: -100%;}
}

/*
LO QUE SIGUE ES DEL TEXTO
NO MOVER MUCHO A MENOS QUE SEA NECESARIO
SIEMPRE COMENTAR QUE HACE CADA COSA
PARA NO PERDER LA DOCUMENTACION :)
*/

p{
    color: #dbffdd;
}
